<?xml version="1.0" encoding="UTF-8"?>
<!--Open Liberty documentation does not use schema in examples.-->
<server description="Jakarta EE example server">
    <featureManager>
        <feature>servlet-6.0</feature>
        <feature>jsonb-3.0</feature>
        <feature>cdi-4.0</feature>
        <feature>faces-4.0</feature>
        <feature>restfulWS-3.1</feature>
        <feature>persistence-3.1</feature>
        <feature>enterpriseBeans-4.0</feature>
        <feature>appSecurity-5.0</feature>
    </featureManager>

    <application type="war" location="programming-magic-1.0-SNAPSHOT.war">
        <application-bnd>
            <security-role name="admin">
                <group name="admin" access-id="group:jdbc/ProgrammingMagic/admin"/>
                <run-as userid="admin-service"/>
            </security-role>
            <security-role name="user">
                <group name="user" access-id="group:jdbc/ProgrammingMagic/user"/>
            </security-role>
        </application-bnd>
    </application>

    <dataSource id="ProgrammingMagicDataSource" jndiName="jdbc/ProgrammingMagic">
        <jdbcDriver javax.sql.XADataSource="org.h2.jdbcx.JdbcDataSource"
                    javax.sql.ConnectionPoolDataSource="org.h2.jdbcx.JdbcDataSource"
                    javax.sql.DataSource="org.h2.jdbcx.JdbcDataSource"
                    libraryRef="H2JDBCLib"/>
        <properties URL="jdbc:h2:mem:programming-magic"/>
        <!--        <properties URL="jdbc:h2:/tmp/programming-magic;AUTO_SERVER=TRUE"/>-->
    </dataSource>

    <library id="H2JDBCLib">
        <fileset dir="${shared.resource.dir}/h2" id="Fileset_H2"/>
    </library>

    <!-- Log CDI debug messages -->
    <logger name="org.jboss.weld" level="DEBUG"/>

    <!-- Log EJB debug messages -->
    <logger name="org.jboss.ejb.client" level="DEBUG"/>
</server>
